*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}
body{
    margin-left: clamp(5px, 10vw, 200px);
    margin-right: clamp(5px, 10vw, 200px);
    border-left: 1px solid rgba(128, 128, 128, 0.256);
    border-right: 1px solid rgba(128, 128, 128, 0.256);
}
p {
  font-size: clamp(14px, 1.2vw, 18px);
}
.img1{
    width: 100%;
}
.img2{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 5px solid white;
    object-fit: cover;
}
.img-parent1{
    position: relative;
}
.img-child1{
    position: absolute;
    bottom: -70px;
    left: 200px;
}
.img-child2{
    height: 15px;
    width: 15px;
    background-color: #00C950;
    border-radius: 100%;
    position: absolute;
    right: 15px;
    bottom: 20px;
    border: 2px solid white;
}
.bio-div{
    padding: 100px 0px 30px 0px;
     padding-left: clamp(10px, 10vw, 200px);
  padding-right: clamp(10px, 10vw, 200px);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}
.name-para{
    font-size: 30px;
    font-weight: 500;
}
.profession-para{
    color: #b227e9;
    font-size: 17px;
}
.location-div{
    display: flex;
    gap: 10px;
    margin-top: -5px;
}
.location-dot{
    font-size: 25px;
}
.location-para{
    font-size: 17px;
    margin-top: 5px;
}
.social-icons{
    display: flex;
    gap: 10px;
}
.social-icon1{
    cursor: pointer;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon1:hover{
    background-color: whitesmoke;
}
.contact-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
.contact-button{
  padding: 10px 20px 10px 20px;
  border: 2px solid transparent;
  border-radius: 25px;
  font-size: 17px   ;
  font-weight: 500;
  background: 
    linear-gradient(black, black) padding-box,
    linear-gradient(to right, #9282F8, #F3CA4D) border-box;
  color: white;
}
.contact-button:hover{
     background: 
    linear-gradient(to right, #9282F8, #F3CA4D) padding-box,
    linear-gradient(to right, #9282F8, #F3CA4D) border-box;
}
.contact-span{
    font-size: 13px;
    margin-right: 5px;
}
.about{
    padding: 100px 0px 30px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-top: 1px solid rgba(128, 128, 128, 0.256);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    margin-top: 20px;
}
.about-para1{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}
.about-para2{
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
}
.about-para3{
     color: rgb(108, 108, 108);
     font-size: 18px;
}
.about-para4{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.services-div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.services-para1{
    font-size: 16px;
    padding: 8px 10px 0px 10px;
    height: 40px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.581);
    margin-top: -15px;
    border-radius: 5px;
}
.work-div{
     padding: 50px 0px 30px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-top: 1px solid rgba(128, 128, 128, 0.256);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    margin-top: 20px;
}
.parent-div1{
    display: flex;
    justify-content: space-between;
}
.work-para1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
}
.work-button1{
    height: 45px;
    padding: 0px 15px 0px 15px;
    background-color: white;
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 10px 10px 10px whitesmoke;
    border-radius: 7px;
}
.work-card1{
    width: 100%;
    padding: 20px;
}
.work-card2{
    width: 100%;
    padding: 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.256);
}
.work-div1{
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    display: flex;
}
.card-img1{
    width: 100%;
}
.card-para1{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px 0px 10px;
}
.card-para2{
    color: rgb(94, 93, 93);
    margin: 5px 0px 0px 10px;
    font-size: 17px;
}
.work-div2{
    padding: 50px 0px 50px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}
.work-card3{
    border-bottom: 1px dashed rgba(128, 128, 128, 0.599);
    padding-bottom: 30px;
}
.card-img2{
    width: 40px;
}
.card-img3{
    width: 30px;
}
.job-description1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.job-post1{
    font-size: 20px;
    font-weight: 500;
}
.ul1{
    margin-left: -20px;
}
.work-span2{
    color: whitesmoke;
}
.job-duration1{
    border: 1px solid rgba(160, 160, 160, 0.438);
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
}
.work-card4{
    margin-top: 50px;
}
.education-div1{
     padding: 50px 0px 30px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-top: 1px solid rgba(128, 128, 128, 0.256);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    margin-top: 20px;
}
.education-div2{
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
}
.education-info1{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
    width: 60%;
    border-left: 1px solid rgba(128, 128, 128, 0.256);
}
.education-info-parent{
    width: 100%;
    display: flex;
}
.education-duration{
    color: rgba(128, 128, 128, 0.886);
    font-size: 17px;
    margin-top: 50px 0px 0px 0px;
    width: 40%;
    padding: 50px 20px 0px 0px;
}
.name-course{
    font-weight: 600;
    font-size: 20px;
}
.course-source{
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.circle-icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.256);
    margin-left: -15px;
}
.education-div3{
    display: none;
    padding: 10px 0px 50px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    }
.icon-para1{
    display: flex;
    gap: 20px;
}
.education-info2{
    margin-top: 50px;
}
.projects{
    padding: 50px 0px 30px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-top: 1px solid rgba(128, 128, 128, 0.256);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    margin-top: 20px;
}
.project1{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 5px;
}
.project-child-div1{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
}
.project-child-div2{
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-left: -120px;
    justify-content: center;
}
.project-span1{
    display: inline-block;
    transform: rotate(45deg);
    color: rgb(42, 42, 42);
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.project-para1{
    font-size: 20px;
    font-weight: 500;
}
.project-para1:hover .project-span1{
    transform: rotate(90deg);
    transition: all 0.2s;
}
.upcoming-project1{
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.upcoming-project2{
    text-transform: capitalize;
    font-size: 16px;
    height: 35px;
    padding: 5px 15px 0px 15px;
    max-width: 135px;
    background-color: whitesmoke;
    color: gray;
    border-radius: 5px;
}
.upcoming-project-div{
    display: flex;
    gap: 20px;
}
.footer{
    padding: 50px 0px 30px 0px;
    padding-left: clamp(10px, 10vw, 200px);
    padding-right: clamp(10px, 10vw, 200px);
    border-top: 1px solid rgba(128, 128, 128, 0.256);
    border-bottom: 1px solid rgba(128, 128, 128, 0.256);
    margin-top: 20px;
}
.footer-para1{
    color: gray;
    font-size: 16px;
}

@media (max-width: 968px) { 
    .contact-info{
        flex-direction: column;
    }
    .bio-div{
        padding-left: clamp(10px, 10vw, 20px);
        padding-right: clamp(10px, 10vw, 20px);
    }
    
    
}
@media (max-width: 670px) { 
    .img2{
        height: 130px;
        width: 130px;
    }
    .img-child1{
    position: absolute;
    bottom: -70px;
    left: 80px;
   }
   .education-div2{
        display: none;
    }
    .education-div3{
        display: flow-root;
    }
    .circle-icon{
        margin: 0px;
    }
    .education-duration{
        padding: 0px;
    }
    .bio-div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .location-div{
        justify-content: center;
    }
    .contact-info{
        margin-top: 30px;
    }
    .parent-div1{
        flex-direction: column;
    }
    .work-div1{
        flex-direction: column;
    }
    .work-card2{
        border-left: 0px;
    }
    .job-description1{
        flex-direction: column;
    }
    .project-child-div1{
        flex-direction: column;
    }
    .project-child-div2{
        flex-direction: column;
        margin-left: 0px;
    }
    .project-child1{
        margin-top: -50px;
    }
    
    
}
@media (max-width: 670px) { 
    .upcoming-project-div{
        flex-direction: column;
    }
}